.ps-btn {
    cursor: pointer;
}

.color-btn {
    cursor: pointer;
}

.br-theme-fontawesome-stars .br-widget > a {
    font-size: 20px !important;
    color: #ffb727;
}

.ps-shoe:hover .ps-shoe__content {
    padding-top: 90px;
    bottom: -90px;
    max-height: none;
}

.ps-shoe__content {
    padding: 0 0 0;
}
